



.homemain{
    display: flex;
    align-items: center;
  
}

.homeside1{

    display: flex;
 
}

.homeside1 img{
    width: 300px;
    height: 450px;
}



.heading h3{

    font-size: 40px;
    font-weight: 900;
    text-align: left;

}

.heading p{
    
     font-weight: 600;
     text-align: left;


}

.block{

    width: 90px;
    background-color: yellow;
    height: 100vh;
}


.cityblock{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100px;
 

}




.first1{

    margin-left: 10px;
   
}




.img1{

    height: 400px;
    width: 450px;

}


.first2 {

    padding:10px ;
    margin-left: 10px;
    border: 4px solid white;
   
}

 .img2{

    height: 300px;
    width: 270px;
}


.citytext{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      
}

.citytext h3{
    font-size: 40px;
    font-weight: 900;
    text-align: left;

}

.citytext p{

    font-weight: 600;
    text-align: left;

}

.btn:hover{
    background-color: yellow;
    padding: 10px;

}


.priblock{
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: center;
     
    

}

.priblock .priheading{

   margin: 10px;
 }

 h2{
    font-size: 3em;
 }


 .priimgblock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
 }


 .img1card{
    
    width: 250px;
    height: 500px;

 }

 .img1card img{


    height: 300px;
    width: 250px;

 }






 /* .hover-line{

    position: relative;
    display: inline-block;

 }


 .hover-line :after{

    content: "";
      position: absolute;
     top: 50%;
      left: 50%;
     transform: translate(-50% , -50%);
     width: 0;
     height: 0;
     background-color: #000;
     transition: all 0.3s ease-in-out 0s;

 }

 .hover-line:hover:after{
    width: 50px;
    height: 50px;
 }


 .hover-square {
    position: relative;
    display: inline-block;
  }
  
  .hover-square:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .hover-square:hover:after {
    width: 50px;
    height: 50px;
  }
   */



   .hover-line{

    display: inline-block;
    position: relative;

   }

   .hover-line:after {
     content: "";
      position: absolute;
      left:50%;
      top: 50%;
      height: 10;
      width: 10;
    background-color: black;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;


   }

   .hover-line:hover:after{

       width: 40px;
       height: 40px;

       
    }

    @media (max-width:600px){
        .homemain{
            width: 100%;
            margin-top:10px ;
        }

        .homeside1{

              display: flex;
              flex-direction: column;
    
        }



        .homeside1 img{
            width: 50%;

        }




        .cityblock {
             
            display: flex;
            flex-direction: column;
            width: 100%;
          
          }
           
          .first1 img{
            width: 100%;
       

          }


          .first2 img{

            width: 100%;

            margin-left: 20px;


          }


         
           .citytext {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 20px;

             
           }

           .priimgblock{

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

           }


       
           }