 .container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  

.main{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    width: 100%;

}


.menu1{
    margin-left: 10px;
}



.menu2  ul {
    display: flex;
    list-style-type: none;
    cursor: pointer;
   
}


.menu2 li{
   margin: 10px;
}



.menu2 li :hover{

    padding: 10px;
    background-color: lightgray;
    color: black;

}



.menu2 button{
    display: none;
}

@media (max-width:600px){

    .container {
        width: 100%;
      }
    

    .main{
        display: flex;
        background-color: darkgray;
   
       
    }


    .menu2 ul{
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50px;
        right:1px;
        width: 30%;
        height: 100vh;
        background-color: black;
        color: aliceblue;
    }
      


    .menu2 .open{
        display: flex;
    } 



    .menu2 button{
        display: block;
        }


    .menu2 li{
        margin: 10px;
        background-color: rgb(19, 20, 20);
        color: rgb(237, 233, 233);
    }

    .menu2 li:hover{


        padding: 10px;
        background-color: lightgray
    }
   
} 




/* 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #333;
    color: #fff;
  }
  
  .menu-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    display: none;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin: 0 10px;
  }
  
  @media (max-width: 767px) {
    .navbar {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  
    .navbar h1 {
      margin-bottom: 20px;
    }
  
    .menu-btn {
      display: block;
    }
  
    .nav-links {
      display: none;
    }
  
    .nav-links.show {
      display: flex;
      flex-direction: column;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  }
   */